body,
html {
  height: 100%;
  background-color: #ffeead;
  margin: 0;
  padding: 10px;
}

.container>div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  height: 100%;
  display: grid;
  grid-template: 50px auto 50px / repeat(12, 1fr);
  grid-gap: 3px;
}

.header {
  grid-column: 1/-1;
}

.menu {
  grid-row: 2/-2;
}

.myMap {
  grid-column: 2/-1;
}

.footer {
  grid-column: 1/-1;
}