body {

  background-color: #ffeead;
  margin: 0;
  padding: 0;

}

#container {
  display: grid;

}

h1 {
  grid-row-start: 1;
  grid-column: 1 / span 2;
  font-weight: 550;
  color: #406647;
  text-align: center;
}

#header {
  grid-column: 1/-1;
}

#menu {
  grid-row: 3/-2;
  grid-column: 1/3
}

#map {
  height: 100vh;
  width: 100vw;
  grid-row-start: 3;
  grid-column-start: 1;
  margin-top: 0;
  border-top: 2px solid #406647;
}

#container>div:nth-child(1n) {
  background-color: #96ceb4;
}

#container>div:nth-child(3n) {
  background-color: #88d8b0;
}

#container>div:nth-child(2n) {
  background-color: #ff6f69;
}

#container>div:nth-child(4n) {
  background-color: #ffcc5c;
}

#listSection {

  overflow: scroll;
  margin-top: 0;
  width: 30vw;
  height: 100vh;
  grid-row-start: 3;
  grid-column-start: 1;
  border: 2px solid #406647;
  z-index: 5;
  background-color: #fde7b4
}

.placesList {
  list-style-type: none;
  text-align: left;
  color: #406647;
}

.placesList li {
  padding: 3px;
}

.menu-icon {
  grid-row-start: 2;
  grid-column-start: 1;
  justify-self: left;
  position: absolute;
  left: 4px;
  top: 50px;
  color: #406647;
}

.list-hide {
  display: none;
}

.list-show {
  display: block;
}

#filter-places {
  width: 90%;
  margin-top: 15px;
  text-align: center;
  margin-left: 10px
}

.infoWindow {
  overflow: auto;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto 5px;
}

.place-name {
  height: 30px;
  font-size: 1.4em;
  text-align: center;
  z-index: 10;
  top: 0;
  border-radius: 5px;
}

.place-name {
  height: 40px;
  font-size: 1.4em;
  text-align: center;
  top: 0;
}

.infowindow {
  overflow: auto;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 5px;
}

.places-details {
  color: #006622;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
  }

  #listSection {
    height: 50vh;
    width: 50vw;
    z-index: 5;
  }

  .placesList li {
    margin-right: 15px;
    margin-left: -5px;
  }
}